/* body {
  margin: 0px;
  padding: 0px;
}

header {
  width: 375px;
  height: 120px;
  position: absolute;
  background: red;
}

#icon {
  background-color: #FFFFFF;
  position: absolute;
  width: 72px;
  height: 67px;
  left: 152px;
  top: 43px;
}

.logo-cart {
  position: absolute;
  left: 320px;
  right: 24px;
  top: 71px;
  bottom: 18px;

  background: #FFFFFF;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#footer {
  position: absolute;
  width: 375px;
  height: 80px;
  left: 0px;
  top: 732px;

  background-color: red;
}

#home {
  position: absolute;
  left: 45px;
  right: 304px;
  top: 19px;
  bottom: 37px;
}

#menu {
  position: absolute;
  left: 132px;
  right: 218px;
  top: 20px;
  bottom: 38px;
}

#gift {
  position: absolute;
  left: 218px;
  right: 132px;
  top: 23px;
  bottom: 41px;
}

#person {
  position: absolute;
  left: 304px;
  right: 45px;
  top: 18px;
  bottom: 36px;
}

#home_text {
  position: absolute;
  width: 30px;
  height: 15px;
  left: 43px;
  top: 52px;

  font-family: 'Post No Bills Jaffna ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;


  color: #000000;
}

#menu_text {
  position: absolute;
  width: 40px;
  height: 15px;
  left: 125px;
  top: 52px;

  font-family: 'Post No Bills Jaffna ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;
  


  color: #000000;
}

#gift_text {
  position: absolute;
  width: 40px;
  height: 15px;
  left: 211px;
  top: 52px;

  font-family: 'Post No Bills Jaffna ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;
  


  color: #000000;
}

#person_text {
  position: absolute;
  width: 50px;
  height: 15px;
  left: 292px;
  top: 52px;

  font-family: 'Post No Bills Jaffna ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
} 
*/